#app-container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
}

canvas {
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }